* {
  margin: 15px;
  padding: 5px;
}
.center-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-color: rgb(8, 18, 151);
  
}

.center-item {
  height: 100px;
  width: 100px;
  background-color: rgb(240, 225, 195);
  
  
}
.nav {
  background-color: rgba(85, 152, 206, 0.822);
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(243, 239, 213);
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 15px;

}

.nav > img {
  width: 110px;
  height: 80px;

}
ul {
  height: 100px;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

.nav a {
  color: rgb(243, 239, 213);
  font-size: 20px;
  text-decoration: none;
 
}
